<div class="container">
  <h1>ジャンル一覧・追加</h1>
  <%= form_with model: @genre do |f| %>
    ジャンル名　<%= f.text_field :name %>
    <%= f.submit"新規登録" %>
  <% end %>

  <table>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to"編集する","#" %></td>
    </tr>
    <% end %>
  </table>
</div>