<header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h1>Nagano Cake</h1>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

                <li>
                  <%= link_to admin_foods_path do %>
                    <h3>商品一覧</h3>
                  <% end %>
                </li>
                <li>
                  <h3>会員一覧</h3>
                </li>
                <li>
                  <h3>注文履歴一覧</h3>
                </li>
                <li>
                  <%= link_to new_admin_genre_path do %>
                    <h3>ジャンル一覧</h3>
                  <% end %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
                <li>
                  <%= link_to about_path do %>
                    <h3>About</h3>
                  <% end %>
                </li>
                <li>
                  <h3>
                    <%= link_to foods_path do %>
                      商品一覧
                    <% end %>
                  </h3>
                </li>
                <li>
                  <h3>
                    <%= link_to cart_foods_path do %>
                      カート
                    <% end %>
                  </h3>
                </li>
                <li>
                  <h3>新規登録</h3>
                </li>
                <li>
                  <h3>ログイン</h3>
                </li>

            </ul>
            <ul class="navbar-nav mt-1">
              <li class="ml-auto">
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </header>
